[package]
name = "brawllib_rs"
edition = "2018"
version = "0.17.0" # not actually released because wgpu needs to be released first.
authors = ["Rukai <rubickent@gmail.com>"]
description = "Brawl character file parser, based on brawlbox/brawllib"
license = "MIT"
repository = "https://github.com/rukai/brawllib_rs"
keywords = ["super", "smash", "bros", "brawl", "lib"]
categories = ["games", "game-engines"]

[dependencies]
bitflags = "1"
byteorder = "1"
cgmath = { version = "0.17", features = ["mint", "serde"] }
log = "0.4"
serde = "1"
serde_derive = "1"
rayon = "1"
failure = "0.1"
env_logger = "0.6"
gif = { version = "0.10", git = "https://github.com/rukai/image-gif", rev = "9549d60e462e8fcbb47db75c9c052501301728d3" }
#wgpu = { version = "0.2", features = ["vulkan"], git = "https://github.com/gfx-rs/wgpu-rs", rev = "84a9f0b8f442e027b909b120c8d2b43064b708c2" }
wgpu = { version = "0.2", features = ["vulkan"], path = "/home/rubic/Projects/Crates/wgpu/wgpu-rs" }
fancy_slice = { version = "0.1", features = [] }
winit_input_helper = "0.3"

[dev-dependencies]
getopts = "0.2"
mint = "0.5"

[profile.release]
debug = true
debug-assertions = true
