[package]
name = "brawllib_rs"
edition = "2018"
version = "0.18.0"
authors = ["Rukai <rubickent@gmail.com>"]
description = "Brawl character file parser, based on brawlbox/brawllib"
license = "MIT"
repository = "https://github.com/rukai/brawllib_rs"
keywords = ["super", "smash", "bros", "brawl", "lib"]
categories = ["games", "game-engines"]

[dependencies]
bitflags = "1"
byteorder = "1"
cgmath = { version = "0.17", features = ["mint", "serde"] }
log = "0.4"
serde = "1"
serde_derive = "1"
rayon = "1"
failure = "0.1"
env_logger = "0.7"
gif = "0.10"
wgpu = { git = "https://github.com/gfx-rs/wgpu-rs", rev = "874950c30c25add4138d54d28f7bb73678de2d96" }
fancy_slice = { version = "0.1", features = [] }
winit = "0.20.0"
winit_input_helper = "0.4.0"
raw-window-handle = "0.3"
futures = "0.3"
zerocopy = "0.2"

[dev-dependencies]
getopts = "0.2"
mint = "0.5"

[profile.release]
debug = true
debug-assertions = true
